body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

hearder {
    background-color: blue;
    color:blueviolet
}

hearder h1{
    margin:0;
}

nav {
    background-color: rgb(44, 122, 122);
    display: flex;
    justify-content: space-around;
}

nav a {
    display: black;
    padding: 5px 10px;
    color: blue;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 200px;
    border: thin solid bisque;
    box-shadow: 3px 3px 3px rgb(50, 50,50,50%);
    margin: 5px;
}

.card img {
    width: 100%;
}